#container{
    background-color: #202832;
    max-width: 1024px;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: #eff5ff;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#logo{
    width: 30%;
}

#logo img{
    width: 40%;
}

.headerR{
    width: 70%;
    display: inline-block;
    text-align: center;
}
.headerR h2{
    margin: 3%;
    padding: 5px;
}
#phone{
    background-color: #7f1309;
    margin-left: 30%;
}
#menu{
    background-color: #7f1309;
}
#slideshow{
    overflow:hidden;
}
#slideshow figure{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}
#slideshow figure img{
    float: left;
    width: 1024px;
}
/* Slide Animation */
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    77%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: 0%;
    }
}
.content{
    margin: 1.5% 0;
    background-color: #7f1309;
    display: flex;
    
}
#tcontent{
    width: 60%;
    padding-right: 10px;
    border-right: solid #202832 7.5px;
}
#sidebar{
    width: 40%;
    border-left: solid #202832 7.5px;
}
#footer{
    background-color: #7f1309;
}
#footer h1{
    margin: 1.5% 0 0 0;
    padding: 5px;
}
@media screen and (max-width: 600px){
    #logo img{
        width: 65%;
    }
    .content{
        flex-direction: column;
    }

    #tcontent{
        width: 100%;
        padding-right: 10px;
        border-right: none;
        border-top: solid #202832 5px;
        border-bottom: solid #202832 5px;
    }
    #sidebar{
        width: 100%;
        border-left: none;
        border-top: solid #202832 5px;
        border-bottom: solid #202832 5px;
    }
}