/* Item */
.item1{
    grid-area: logo;
}
.item2{
    grid-area: menu1;
}
.item3{
    grid-area: slideshow;
    padding: 50px 0;
}
.item4{
    grid-area: feat1;
    padding: 25px 0;
}
.item5{
    grid-area: feat2;
    padding: 25px 0;
}
.item6{
    grid-area: feat3;
    padding: 25px 0;
}
.item7{
    grid-area: sidebar;
    padding: 100px 0;
}
.item8{
    grid-area: tc;
    padding: 100px 0;
}
.item9{
    grid-area: footer;
    padding: 10px 0;
}

/* Container */
.grid-container{
    display: grid;
    grid-template-areas: 
    'logo menu1 menu1'
    'slideshow slideshow slideshow'
    'slideshow slideshow slideshow'
    'feat1 feat2 feat3'
    'sidebar tc tc'
    'footer footer footer'
    ;
    gap: 10px;
    background-color: gray;
    padding: 10px;
}
.grid-container > div{
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 30px;
}