
/* button to middle
margin: auto;
*/

/* button text to center */
/* justify-content:center;
align-items:center; */

body{
    max-width: 1280px;
    color: #424959;
    margin: auto;
}
.container{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.section{
    margin: auto;
    max-width: 1024px;
}
.m-0 {
    margin: 0 !important;
  }
  button[type=button]{
    background-image: url("../images/button.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
/* Section 1 */
#home{
    background-image: url("../images/bg1.png"), url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: top right, bottom;
    background-size: 60%, 100%;
}
/* Header */
#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 1% 10% 1% 1%;
}
#logo{
    width: 50%;
}
#logo img{
    height: 80%;
}
#logo p1{
    font-size: 2em;
    padding: 2%;
}
.nav{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
}
.nav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

/* Section 1 */
.content{
    margin: 5% 0;
    display: flex;
    position: relative;
    padding: 0 30px;
}
/* Left side icon */
.lefticon{
    position: absolute;
    top: 40%;
    left: -15%;
    text-align: center;
}
.lefticon ul li{
    margin: 80% 0;
}
#bar{
    background-color: #262087;
    width: 4px;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin-right: 40%;
}
#top{
    margin-bottom: 10%;
    position: relative;
}
#text1{
    width: 50%;
    padding-top: 5%;
}
#text1 p{
    font-size: 2em;
    margin-bottom: 0;
}
#text1 h1{
    font-size: 3.5em;
    margin: 0;
}
#text1 h4{
    font-weight: lighter;
}
#freebtn{
    width: 40%;
    font-size: 0.8em;
    padding: 3% 2%;
    font-size: 0.8em;
    border-radius: 30px;
    left: 20%;
}
#img1{
    width: 50%;
    background-image: url("../images/img1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
}
#img2{
    width: 50%;
    margin-right: 7%;
    background-image: url("../images/img2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
}
#text2{
    width: 50%;
}
#text2 p{
    font-size: 1em;
    margin-bottom: 0;
    color: #a4a1cf;
}
#text2 h1{
    font-size: 3.5em;
    margin: 0;
}
#text2 h4{
    font-weight: lighter;
    font: 0.8em;
    margin-bottom: 6%;
}
#morebtn1{

    font-size: 0.8em;
    border-radius: 30px;
    width: 30%;
    padding: 3% 2%;
    left: 20%;
}
#mouse{
    position: absolute;
    bottom: -10%;
    left: 43%;
    border-radius: 50%;
    border: solid transparent;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 4px #ddd;
    width: 80px;
    height: 80px;
    text-align: center;
}
#mouse img{
    width: 25px;
    height: 40px;
    padding-top: 23%;
}
/* Section 2 */
#header2{
    margin: 2% 0 0 5%;
}
#header2 h2{
    color: #a09ece;
    font-size: 1em;
}
#header2 h1{
    font-size: 2.7em;
    margin: 0;
}
#row1{
    display: flex;
}
#row2{
    display: flex;
}
.box{
    width: 33.33%;
    padding: 2%;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 0.2);
    border-radius: 25px;
    margin: 3.5%;
    position: relative;
    text-align: center;
}
.box img{
    height: 20%;
}
#row1 h3{
    margin: 12% 0;
    text-align: left;
    font-size: 0.85em;
}
#row1 p{
    text-align: left;
    font-size: 0.7em;
}
#row2 h3{
    margin: 12% 0;
    text-align: left;
    font-size: 0.85em;
}
#row2 p{
    text-align: left;
    font-size: 0.7em;
}
.morebtn2{
    position: absolute;
    bottom: 7%;
    right: 16%;
    border-radius: 30px;
    width: 30%;
    font-size: 0.7em;
    margin-left: 3%;
    padding: 2.5% 1%;
}

/* Section 3 */
#section3{
    background-color: #eceaff;
    padding: 20px 80px;
}
#header3{
    text-align: center;
    margin-top: 5%;
}
#header3 p{
    color: #bebbf0;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#header3 h1{
    font-size: 3em;
    margin-top: 10px;
}
.price{
    display: flex;
}
.box2{
    background-color: white;
    width: 33.33%;
    padding: 2.5%;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 0.2);
    border-radius: 25px;
    margin: 2.5%;
    position: relative;
    text-align: center;
    /* height: 35vh; */
}
.box2 h1{
    margin-bottom: 50px;
    font-size: 1.3em;
    font-weight: 500;
}
.box2 p{
    font-size: 0.7em;
}
.box2 h2{
    font-size: 2em;
    margin: 13% 0 30% 0;
    color: #1d11bd;
}
.detailsbtn1{
    background-color: transparent;
    border: solid #c0bed0 1px;
    border-radius: 30px;
    width: 60%;
    height: 12%;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1em;
}
.detailsbtn2{
    border-radius: 30px;
    width: 60%;
    height: 12%;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1em;
}
.button-container {
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

.slider-button {
    display: inline-block;
    height: 8px;
    width: 8px;
    border: 1px solid #7E76F9;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
}

.slider-button:hover {
    text-decoration: dotted;
    background-color: #7E76F9;
    padding: 1px;
}
/* Section 4 */
#lastsec{
    position: relative;
}
#header4{
    text-align: center;
    margin-top: 10%;
}
#header4 p{
    color: #bebbf0;
    font-size: 1em;
    margin-bottom: 10px;
}
#header4 h1{
    font-size: 2em;
    margin-top: 10px;
    font-weight: 300;
}
#header4 span{
    font-weight: 500;
}
.mail{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}
input[type=email]{
    background-color: #f6f7fb;
    border: none;
    padding: 1.5% 25% 1.5% 1.5%;
    font-size: 0.8em;
}
#mail{
    width: 80%;
}
#mailbtn{
    border-radius: 30px;
    width: 15%;
    font-size: 1em;
    margin-left: 3%;
}
#footer{
    display: flex;
    bottom: 6%;
    width: 100%;
}
.footer{
    margin-top: 30%;
    margin-bottom: 12px;
    width: 20%;
    color: white;
}
.footer h1{
    font-size: 2.5em;
    margin-bottom: 14px;
}
.footer h2{
    margin-top: 0;
}
.footer img{
    height: 16px;
    padding: 12px 12px 0 12px;
}
#f1{
    text-align: center;
    width: 30%;

}
.footer ul,li, a{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    color: white;
    font-size: 0.95em;
}
.footer h3{
    margin: 12px 0;
}
.footer p{
    font-size: 0.9em;
    margin: 10px 0;
}
#f3{
    width: 30%;
}

/* Mobile */
@media screen and (max-width: 600px){
    #header{
        height: 70px;
    }
    #logo{
        width: 40%;
    }
    #logo img{
        height: 60%;
    }
    #logo p1{
        font-size: 1.2em;
    }
    .nav{
        width: 60%;
    }
    .nav a{
        padding: 5px 7px;
        font-size: 0.8em;
    }
    /* Section 1 */
    .content{
        flex-direction: column;
    }
    #c1{
        flex-direction: column-reverse;
    }
    #text1{
        width: 90%;
    }
    #text2{
        width: 90%;
    }
    #img1{
        width: 90%;
        height: 300px;
    }
    #img2{
        width: 90%;
        height: 300px;
    }
    .lefticon{
        display: none;
    }
    #mouse{
        display: none;
    }
    #row1{
        flex-direction: column;
        margin: 0 5%;
    }
    #row2{
        flex-direction: column;
        margin: 0 5%;
    }
    .box{
        width: 95%;
        padding: 4%;
        margin: 3.5% 0;
    }

    /* Section 2 */
    .box img{
        height: 100px;
    }
    #row1 h3{
        margin: 3% 0;
    }
    #row1 p{
        text-align: left;
        margin-bottom: 12%;
    }
    #row2 h3{
        margin: 3% 0;
    }
    #row2 p{
        text-align: left;
        margin-bottom: 12%;
    }
    .morebtn2{
        bottom: 7%;
        right: 5%;
    }

    /* Section 3 */
    #section3{
        padding: 20px 0;
    }
    #header3 p{
        margin: 0;
    }
    #header3 h1{
        font-size: 2.5em;
        margin: 8px 0;
    }
    .price{
        flex-direction: column;
    }
    .box2{
        width: 90%;
    }
    .box2 h1{
        margin: 2% 0;
    }
    .box2 h2{
        margin: 3% 0 10% 0;
        font-size: 1.5em;
    }
    .detailsbtn1{
        width: 30%;
        height: 15%;
        left: 35%;
    }
    .detailsbtn2{
        width: 30%;
        height: 15%;
        left: 35%;
    }
    .button-container {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    /* Footer */
    #header4 p{
        font-size: 1em;
    }
    #header4 h1{
        font-size: 1.8em;
    }
    #mailbtn{
        font-size: 0.8em;
    }
    .footer h1{
        font-size: 1.8em;
    }
    .footer h2{
        font-size: 1.2em;
    }
    .footer h3{
        font-size: 1em;
    }
    .footer ul,li, a{
        font-size: 0.9em;
    }
    .footer p{
        font-size: 0.7em;
    }
}
