body {
    max-width: 1280px;
    color: #D9D9D9;
    margin: auto;
    font-family: 'Marcellus', serif;
}

.container {
    background-color: #1E1A1A;
}

/* NAVIGATION BAR */
#nav_con {
    width: 100%;
}

.navbar {
    height: 5vh;
    margin: auto;
    padding: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1A1A;
}

.navbar img {
    width: 30%;
    margin-left: 6%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 1.25em;
    text-shadow: 2px 2px 5px black;
    font-family: 'Croissant One', cursive;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #A4773D;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.icon {
    display: none;
}

.overlay {
    display: none;
}

/* Content */
.text {
    text-align: center;
}

#img1 img {
    width: 100%;
}

.text h1 {
    font-size: 2.5em;
    font-family: 'Croissant One', cursive;
}

.text h2 {
    font-size: 2em;
    margin: 5% 0 3% 0;
}

.text p {
    font-size: 1.2em;
    text-align: left;
    padding-right: 8%;
    text-align: justify;
}

.abt1 {
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: 0 7%;
}

#txtp1 {
    width: 40%;
}

.grp1 {
    width: 60%;
}

.grp1 img {
    width: 100%;
}

/* PHOTO SECTION */
#imgcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    width: 90%;
}

.imgs {
    width: 33.33%;
    margin: 0 2.5%;
}

.imgs img {
    width: 100%;
    transition: .5s;
}

.imgs img:hover {
    transform: scale(1.1);
}

.imgs p {
    font-size: 1em;
    margin-bottom: 1.5%;
}

.imgs h3 {
    font-size: 1.1em;
    margin-top: 1.5%;
}


/* Footer */
#centerline {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

#line2 {
    height: 1px;
    background-color: #A4773D;
    width: 86%;
    display: block;
}

.footer {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footerlogo {
    width: 70%;
}

#footerlogo p {
    font-size: 1em;
}

#footerlogo img {
    width: 15%;
}

.footertext {
    display: flex;
    width: 35%;
}

#quicklink {
    width: 40%;
}

#quicklink ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 1.5% 0 8% 0;
    color: #D9D9D9;
    font-size: 1em;
}

#hours {
    width: 60%;
    float: right;
}

#hours h3 {
    margin-top: 0px;
    font-size: 1em;
    font-weight: 100;
}

#hours p {
    font-size: 1em;
}

/* Desktop 2 */
@media screen and (min-width:800px) and (max-width: 1024px) {

    /* Navigation Bar */
    .navbar img {
        width: 25%;
    }

    .navbar ul li a {
        font-size: 1em;
    }

    /* Group*/
    .text h1 {
        font-size: 2.2em;
    }

    .text p {
        font-size: 1.05em;
    }

    /* Photos */
    .imgs p {
        font-size: 0.9em;
        margin-bottom: 1.5%;
    }

    .imgs h3 {
        font-size: 1em;
        margin-top: 1.5%;
    }

    /* Footer */
    #footerlogo p {
        font-size: 0.85em;
    }

    #quicklink ul,
    li,
    a {
        font-size: 0.9em;
    }

    #hours h3 {
        font-size: 0.9em;
    }

    #hours p {
        font-size: 0.9em;
    }
}

/* Tablet */
@media screen and (min-width:600px) and (max-width: 800px) {

    /* Navigation Bar */
    #logo {
        width: 30%;
    }

    .navbar img {
        width: 25%;
    }

    .navbar ul li {
        margin: 0 8px;
    }

    .navbar ul li a {
        font-size: 0.9em;
    }

    /* Group*/
    .abt1 {
        flex-direction: column-reverse;
    }

    .grp1 {
        width: 100%;
    }

    #txtp1 {
        width: 100%;
    }

    .text p {
        font-size: 1.2em;
        padding-right: 0;
    }

    .text h1 {
        font-size: 2em;
    }

    .text h2 {
        font-size: 1.5em;
    }

    /* Photos */
    .imgs p {
        font-size: 0.9em;
        margin-bottom: 1.5%;
    }

    .imgs h3 {
        font-size: 1em;
        margin-top: 1.5%;
    }


    /* Footer */
    #footerlogo p {
        font-size: 0.85em;
    }

    #quicklink ul,
    li,
    a {
        font-size: 0.9em;
    }

    #hours h3 {
        font-size: 0.9em;
    }

    #hours p {
        font-size: 0.9em;
    }
}

/* Mobile 1*/
@media screen and (min-width:480px) and (max-width: 600px) {

    /* Navigation Bar*/
    #logo {
        width: 40%;
    }

    #logo img {
        width: 22%;
    }

    .navbar ul li {
        display: none;
    }

    .icon {
        position: absolute;
        right: 0;
        display: block;
        margin: auto;
        width: 20%;
    }

    .icon img {
        width: 45%;
        margin-right: 6%;
        float: right;
    }

    /* Mobile Menu */
    .overlay {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2em;
        font-family: 'Croissant One', cursive;
        color: #D9D9D9;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #A4773D;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #A4773D;
    }

    /* Group*/
    .abt1 {
        flex-direction: column-reverse;
    }

    .grp1 {
        width: 100%;
    }

    #txtp1 {
        width: 100%;
    }

    .text p {
        font-size: 1.05em;
        padding-right: 0;
    }

    .text h1 {
        font-size: 2em;
    }

    .text h2 {
        font-size: 1.5em;
    }

    /* PHOTO SECTION */
    .photo {
        flex-direction: column-reverse;
        width: 85%;
    }

    .imgs {
        width: 97%;
        margin: 2%;
    }

    .imgs p {
        font-size: 1em;
        margin-bottom: 1.5%;
    }

    .imgs h3 {
        font-size: 1.2em;
        margin-top: 1.5%;
    }

    /* Footer */
    #line2 {
        width: 83%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footertext {
        width: 100%;
    }

    #quicklink {
        display: none;
    }

    #hours {
        width: 80%;
        margin: 2.5%;
    }

    #hours p {
        font-size: 0.8em;
    }

    #footerlogo {
        display: flex;
        width: 90%;
    }

    #copyright {
        width: 60%;
    }

    #footerlogo p {
        font-size: 0.7em;
    }

    #footerlogo img {
        width: 40%
    }
}

/* Mobile 2*/
@media screen and (min-width:320px) and (max-width: 480px) {

    /* Navigation Bar*/
    #logo {
        width: 35%;
    }

    .navbar ul li {
        display: none;
    }

    .icon {
        position: absolute;
        right: 0;
        display: block;
        margin: auto;
        width: 20%;
    }

    .icon img {
        width: 45%;
        margin-right: 6%;
        float: right;
    }

    /* Mobile Menu */
    .overlay {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2em;
        font-family: 'Croissant One', cursive;
        color: #D9D9D9;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #A4773D;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #A4773D;
    }

    /* Group*/
    .abt1 {
        flex-direction: column-reverse;
    }

    .grp1 {
        width: 100%;
    }

    #txtp1 {
        width: 100%;
    }

    .text p {
        font-size: 0.85em;
        padding-right: 0;
    }

    .text h1 {
        font-size: 1.6em;
    }

    .text h2 {
        font-size: 1.2em;
    }

    /* PHOTO SECTION */
    .photo {
        flex-direction: column-reverse;
        width: 85%;
    }

    .imgs {
        width: 97%;
        margin: 2%;
    }

    .imgs p {
        font-size: 0.85em;
        margin-bottom: 1.5%;
    }

    .imgs h3 {
        font-size: 1em;
        margin-top: 1.5%;
    }

    /* Footer */
    #line2 {
        width: 83%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footertext {
        width: 100%;
    }

    #quicklink {
        display: none;
    }

    #hours {
        width: 80%;
        margin: 2.5%;
    }

    #hours p {
        font-size: 0.8em;
    }

    #footerlogo {
        display: flex;
        width: 90%;
    }

    #copyright {
        width: 60%;
    }

    #footerlogo p {
        font-size: 0.7em;
    }

    #footerlogo img {
        width: 40%
    }
}