body {
    max-width: 1280px;
    color: #D9D9D9;
    margin: auto;
    font-family: 'Marcellus', serif;
}

.container {
    background-color: #1E1A1A;
}

/* NAVIGATION BAR */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    opacity: 0.65;
}

#nav_con {
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar {
    height: 5vh;
    margin: auto;
    padding: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1A1A;
    opacity: 0.65;
}

.navbar img {
    width: 30%;
    margin-left: 6%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    text-shadow: 2px 2px 5px black;
    font-family: 'Croissant One', cursive;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #A4773D;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
.icon{
    display: none;
}
.overlay{
    display: none;
}

/* HOME 2 SECTION */
#logo2 {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo2 img {
    width: 25%;
}

.pic img {
    width: 100%;
}

.text {
    text-align: center;
    position: relative;
    margin: 4% 0;
    font-family: 'Croissant One', cursive;
    word-spacing: 3px;
}

.text h1 {
    font-size: 1.25em;
}

#line1 {
    height: 3px;
    background-color: #A4773D;
    width: 33%;
    position: absolute;
    display: block;
    left: 33.33%;
}

/* PHOTO SECTION */
#imgcenter {
    margin: 8% 0 4% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    width: 90%;
}

.imgs {
    width: 33.33%;
    margin: 0 2.5%;
}

.imgs img {
    width: 100%;
}

button {
    width: 12%;
    padding: 1% 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    background-color: #A4773D;
    cursor: pointer;
    color: #D9D9D9;
    border: none;
}

.morebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.morebtn p {
    font-size: 1.2em;
    font-family: 'Croissant One', cursive;
    margin: 0%;
}

/* CONTACT US SECTION */
.contact {
    width: 86%;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

#contact_img {
    width: 50%;
}

#contact_img img {
    width: 75%;
    /* height: 100%; */
}

#contact_us {
    width: 50%;
}

#contact_us h1 {
    font-size: 1.8em;
    margin-top: 1%;
    font-family: 'Croissant One', cursive;
}

#contact_us p {
    font-size: 1.2em;
    margin-bottom: 1.8%;
}

input,
textarea {
    width: 97%;
    background-color: transparent;
    border: #A4773D solid 1.5px;
    padding: 1.2% 2%;
    color: #D9D9D9;
}

input[type=submit] {
    float: right;
    width: 20%;
    margin-top: 5%;
    background-color: #A4773D;
    border-radius: 30px;
    padding: 1.2% 0;
    font-size: 1em;
    font-family: 'Croissant One', cursive;
}

/* Footer */
#centerline {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

#line2 {
    height: 1px;
    background-color: #A4773D;
    width: 86%;
    display: block;
}

.footer {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footerlogo {
    width: 70%;
}

#footerlogo p {
    font-size: 1em;
}

#footerlogo img {
    width: 15%;
}

.footertext {
    display: flex;
    width: 35%;
}

#quicklink {
    width: 40%;
}

#quicklink ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 1.5% 0 8% 0;
    color: #D9D9D9;
    font-size: 1em;
}

#hours {
    width: 60%;
    float: right;
}

#hours h3 {
    margin-top: 0px;
    font-size: 1em;
    font-weight: 100;
}

#hours p {
    font-size: 1em;
}

/* Desktop 2 */
@media screen and (min-width:800px) and (max-width: 1024px) {

    /* Navigation Bar */
    .navbar img {
        width: 25%;
    }

    .navbar ul li a {
        font-size: 1em;
    }

    /* HOME 2 SECTION */
    .text h1 {
        font-size: 1em;
    }
    .icon{
        display: none;
    }
    .overlay{
        display: none;
    }
    /* PHOTO SECTION */
    .morebtn p {
        font-size: 1em;
    }

    /* CONTACT US SECTION */
    #contact_us h1 {
        font-size: 1.5em;
    }

    #contact_us p {
        font-size: 0.9em;
    }

    input[type=submit] {
        font-size: 0.85em;
    }

    /* Footer */
    #footerlogo p {
        font-size: 0.85em;
    }

    #quicklink ul,
    li,
    a {
        font-size: 0.9em;
    }

    #hours h3 {
        font-size: 0.9em;
    }

    #hours p {
        font-size: 0.9em;
    }
}

/* Tablet */
@media screen and (min-width:600px) and (max-width: 800px) {

    /* Navigation Bar */
    #logo {
        width: 30%;
    }

    .navbar img {
        width: 25%;
    }

    .navbar ul li {
        margin: 0 8px;
    }

    .navbar ul li a {
        font-size: 0.9em;
    }
    .overlay{
        display: none;
    }
    /* HOME 2 SECTION */
    .text h1 {
        font-size: 0.75em;
    }

    /* PHOTO SECTION */
    .morebtn p {
        font-size: 0.8em;
    }

    /* CONTACT US SECTION */
    #contact_us h1 {
        font-size: 1em;
    }

    #contact_us p {
        font-size: 0.7em;
    }

    input,
    textarea {
        font-size: 0.7em;
        padding: 0.8% 2%;
    }

    input[type=submit] {
        font-size: 0.65em;
    }

    /* Footer */
    #footerlogo p {
        font-size: 0.7em;
    }

    #quicklink ul,
    li,
    a {
        font-size: 0.86em;
    }

    #hours h3 {
        font-size: 0.7em;
    }

    #hours p {
        font-size: 0.7em;
    }
}

/* Mobile */
@media screen and (min-width:320px) and (max-width: 600px) {

    /* Navigation Bar*/
    #logo{
        width: 40%;
    }
    .navbar ul li{
        display: none;
    }
    .icon {
        position: absolute;
        right: 0;
        display: block;
        margin: auto;
        width: 20%;
    }
    .icon img{
        width: 50%;
        margin-right: 6%;
        float: right;
    }
    /* Mobile Menu */
    .overlay {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2em;
        font-family: 'Croissant One', cursive;
        color: #D9D9D9;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #A4773D;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #A4773D;
      }
      
    /* HOME 2 SECTION */
    #logo2 {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo2 img {
        width: 40%;
    }

    .text h1 {
        margin-top: 8%;
        font-size: 0.8em;
    }

    #line1 {
        height: 2px;
        width: 70%;
        left: 15%;
    }

    /* PHOTO SECTION */
    .photo {
        flex-direction: column;
        width: 85%;
        margin-top: 5%;
    }

    .imgs {
        width: 97%;
        margin: 2%;
    }

    button {
        width: 35%;
        padding: 2% 0;
    }

    .morebtn p {
        font-size: 0.8em;
        margin: 0%;
    }

    /* CONTACT US SECTION */
    .contact {
        flex-direction: column-reverse;
    }

    #contact_us {
        width: 95%;
        margin: 2.5%;
    }

    #contact_us h1 {
        font-size: 1.8em;
        margin-top: 4%;
        text-align: center;
    }

    #contact_us p {
        font-size: 1em;
        margin-bottom: 1.8%;
    }

    input[type=submit] {
        width: 28%;
        padding: 1.2% 0;
        font-size: 0.75em;
    }

    #contact_img {
        width: 95%;
        margin: 8% 2.5%;
    }

    #contact_img img {
        width: 100%;
    }

    /* Footer */
    #line2 {
        width: 83%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footertext {
        width: 100%;
    }

    #quicklink {
        display: none;
    }

    #hours {
        width: 80%;
        margin: 2.5%;
    }

    #hours p {
        font-size: 0.8em;
    }

    #footerlogo {
        display: flex;
        width: 90%;
    }

    #copyright {
        width: 60%;
    }

    #footerlogo p {
        font-size: 0.7em;
    }

    #footerlogo img {
        width: 40%
    }
}