body {
    max-width: 1280px;
    color: #D9D9D9;
    margin: auto;
    font-family: 'Marcellus', serif;
}

.container {
    background-color: #1E1A1A;
}

/* NAVIGATION BAR */
#nav_con {
    width: 100%;
}

.navbar {
    height: 5vh;
    margin: auto;
    padding: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1A1A;
}

.navbar img {
    width: 30%;
    margin-left: 6%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 1.25em;
    text-shadow: 2px 2px 5px black;
    font-family: 'Croissant One', cursive;
}   

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #A4773D;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.icon {
    display: none;
}

.overlay {
    display: none;
}