#container{
    background-color: #202832;
    max-width: 1024px;
    margin: auto;
    padding: 15px;
    color: #eff5ff;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.header img{
    width: 40%;
}

#menu{
    background-color: #7f1309;
}
#menu h1{
    padding: 10px;
}
#slideshow{
    background-image: url("../images/slide1.jpg");
    background-size: cover;
    height: 400px;
    background-position: center;
    color: #202832;
    text-align:justify;
}

.flat{
    display: flex;
    margin: 2% 0;
}

.fbox{
    width: 25%;
    background-color: #7f1309;
    /* border:solid #202832 5px; */
}
#fbox2{
    border-left: solid #202832 12.5px;
    border-right: solid #202832 7.5px;
}
#fbox3{
    border-left: solid #202832 7.5px;
    border-right: solid #202832 12.5px;
}
.content{
    display: flex;
    margin: 1.5% 0;
}
#content{
    width: 70%;
    background-color: #7f1309;
    padding: 5px;
    border-right: solid #202832 15px;
}
#sbar{
    width: 30%;
    background-color: #7f1309;
}
#footer{
    background-color: #7f1309;
}

#footer h1{
    padding: 15px;
    margin: 2%;
}

/* Mobile */
@media screen and (max-width: 600px){
    .flat{
        flex-direction: column;
    }
    .fbox{
        border: none;
        border-top: solid #202832 5px;
        border-bottom: solid #202832 5px;
        width: 100%;
    }
    #fbox2{
        border: none;
        border-top: solid #202832 5px;
        border-bottom: solid #202832 5px;
    }
    #fbox3{
        border: none;
        border-top: solid #202832 5px;
        border-bottom: solid #202832 5px;
    }
    .content{
        flex-direction: column;
    }
    #content{
        width: 98%;
        margin: 0 0 1.5% 0;
        border: none;
    }
    #sbar{
        width: 100%;
        margin: 1.5% 0;
    }
}